body{
    background: url(../_imagens/fundo.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000 }

#areaPrincipal{
        width: 1200px; 
        margin: 0 auto;
        height: 500px;}

#cabecalho{ width: 100%; 
            height: 100px;
            text-align: justify;
            text-align: center;
            margin: 0;
            padding-top: 20px; }

#corpo{ width: 500px; 
        margin:0 auto;}

#rodape{ width: 100%;
         height: 100px;}

#rodape p{  text-align: justify;
            text-align: center;
            margin: 0;
            padding-top: 20px; }

.enviar input { background-color: #069; height: 40px; width: 150px; font-weight: bold; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid; color: #FFF; cursor: pointer; }

.enviar input:hover{ background: #078; }

textarea { width: 474px; height: 120px; line-height: 20px; }